@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* scrollbar Track */
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  
  /* scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
  }
  
  /* scrollbar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }