.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}


/* min height of text box */
.ql-editor {
  min-height: 18em;
}


.ql-container.ql-snow {
  /* border-bottom-left-radius: 0.5em; */
  border-radius: 0 0 0.5em 0.5em;
}


.ql-container.ql-bubble {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.ql-tooltip {
  left: 0px;
}